---
import Chip from "../Common/Chip.astro";
import Metrics from "./Metrics.astro";

const { project } = Astro.props;
---

<article class="project-card" style={`border-top:5px solid ${project.accent}`}>
  {
    project.image && (
      <img src={project.image} alt={project.title} class="project-image" />
    )
  }

  <div class="project-top">
    <span class="category">
      {project.category}
    </span>

    {project.featured && <span class="featured">★ Featured</span>}
  </div>

  <div class="project-heading">
    <h3 class="project-title">
      {project.title}
    </h3>

    {project.subtitle && <p class="project-subtitle">{project.subtitle}</p>}
  </div>

  <div class="meta">
    <div>
      <span>Company</span>
      <strong>{project.company}</strong>
    </div>

    <div>
      <span>Role</span>
      <strong>{project.role}</strong>
    </div>

    <div>
      <span>Duration</span>
      <strong>{project.duration}</strong>
    </div>
  </div>

  <Metrics metrics={project.metrics} />

  <section>
    <h4 class="section-title">Overview</h4>

    <p class="description">
      {project.description}
    </p>
  </section>

  <section>
    <h4 class="section-title">Engineering Challenge</h4>

    <p class="description">
      {project.challenge}
    </p>
  </section>

  <section>
    <h4 class="section-title">Key Contributions</h4>

    <ul class="contribution-list">
      {project.contributions.map((item: string) => <li>{item}</li>)}
    </ul>
  </section>

  <section>
    <h4 class="section-title">Technology Stack</h4>

    <div class="project-stack">
      {project.stack.map((tech: string) => <Chip label={tech} />)}
    </div>
  </section>

  <div class="project-actions">
    <a class="case-study-link" href={`/projects/${project.slug}`}>
      View Case Study →
    </a>

    {
      project.website && (
        <a
          class="project-link"
          href={project.website}
          target="_blank"
          rel="noopener noreferrer"
        >
          Live Product ↗
        </a>
      )
    }
  </div>
</article>
