---
const { project } = Astro.props;
---

<a href={`/projects/${project.slug}`} class="project-card-link">
  <article
    class="project-card"
    style={`border-left:4px solid ${project.accent}`}
  >
    <div class="project-top">
      <span class="category">{project.category}</span>

      {project.featured && <span class="featured">Featured</span>}
    </div>

    <div class="project-heading">
      <h3 class="project-title">{project.title}</h3>

      {project.subtitle && <p class="project-subtitle">{project.subtitle}</p>}
    </div>

    <div class="project-meta">
      <span>{project.company}</span>

      <span>•</span>

      <span>{project.role}</span>
    </div>

    <div class="project-duration">
      {project.duration}
    </div>

    <p class="project-description">
      {project.description}
    </p>

    <div class="project-stack">
      {
        project.stack
          .slice(0, 4)
          .map((tech: string) => <span class="tech-pill">{tech}</span>)
      }

      {
        project.stack.length > 4 && (
          <span class="tech-pill">+{project.stack.length - 4}</span>
        )
      }
    </div>

    <div class="project-footer">
      <span class="case-study-text"> Read Case Study → </span>
    </div>
  </article>
</a>
